.attribution {
    font-size: 11px; text-align: center;
    margin-bottom: 90%;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 86%);
    font-size: 18px;
    font-family: Poppins, Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}

form {
    margin: 100px 10px 0 10px;
    background-color: hsl(0, 0%, 100%);
    width: 355px;
    height: 450px;
    max-height: 50%;
    border-radius: 30px 30px 110px 30px;
}

div {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

label {
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    justify-content: left;
}

input {
    font-size: 18px;
    padding: 10px 5px;
}

.day, .month, .year {
    display: flex;
    flex-direction: column; 
    text-align: left;
    margin-bottom: 90px;
    padding-bottom: 10px;
    width: 5rem;
    height: 20px;
    color: hsl(0, 1%, 44%);
    font-size: large;
}

hr {
    border: 1px solid hsl(0, 0%, 86%);
    width: 90%;
}

button {
    position: relative;
    bottom: 48px;
    left: 130px;
    right: 50%;
    background: no-repeat center hsl(259, 100%, 65%) url("/assets/images/icon-arrow.svg");
    width: 70px;
    height: 70px;
    color: hsl(259, 100%, 65%);
    font-size: 0;
    border-radius: 50%;
}

.displayResult {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.displayResult p {
    font-size: 3em;
    margin: 0 auto 0 auto;
    font-weight: 900;
    text-align: left;
    margin-left: 0;
    margin-right: 10px;
    line-height: 32px;
}

span {
    color: hsl(259, 100%, 65%);
}

.invalid {
    border: 1px solid hsl(0, 100%, 67%);
}

@media screen and (min-width: 376px) and (max-width: 956px) {
    button {
        left: 45%;
    }    
}

@media screen and (min-width: 956px) {
    body {
        display: flex;
        flex-direction: column;
    }


    form {
        width: 500px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }

    button {
        left: 400px;
    }
    
}